/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f2e0;
    color: #4c3c32;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

.our_menu img {
	max-width: 500px;
}

.our_menu {
	width: 900px;
	height: 300px;
	justify-content: center;
	display: flex;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 50px;
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translateX(-50%)
}

.cappuccino {
	margin: 10px;
	width: 800px;
	height: 550px;
	box-shadow: -1px 0 10px #000000;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.croissant {
	margin: 10px;
	width: 800px;
	height: 550px;
	box-shadow: -1px 0 10px #000000;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.menu_price {
	font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #4c3c32;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #7e685b;
}

.hero {
    text-align: center;
    padding: 150px 0;
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: black;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #7e685b;
}

.menu {
    padding: 100px 0;
    text-align: center;
}

.menu h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about {
    padding: 100px 0;
    text-align: center;
    background-color: #ede4d6;
	margin-top: 500px;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.about h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.about h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.about h5 {
    font-size: 30px;
    margin-bottom: 20px;
}

.mttcover{
    width: 900px;
    height: 400px;
    margin-top: 40px;
    display: flex; 
}
img{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.meet-the-team{
    width: 300px;
    height: 100px;
    margin-left: 250px;
}
.meet-the-team1{
    width: 300px;
    height: 100px;
    margin-left: 100px;
}
.meet-the-team2{
    width: 300px;
    height: 100px;
    margin-left: 100px;
}

.about h6 {
    font-size: 30px;
    margin-top: 20%;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.contact {
    padding: 100px 0;
    text-align: center;
    background-color: #4c3c32;
    color: white;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

footer {
    background-color: #4c3c32;
}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;

}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}